.footer {
  background: #0C274D none repeat scroll 0 0;
  border-top: 4px solid #EF4089;
  margin: 0;
  padding:  20px;
}
.footer_dv {
  width: 100%;
}
.footer_dv h4 {
  color: #EF4089;
  font-family: roboto;
  font-weight: bold;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.footer_dv ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.footer_dv ul li:first-child {
  border-top: medium none;
  box-shadow: none;
}
.footer_dv ul li {
  border-top: 1px solid #000;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  color: #f1f2f2;
  padding: 5px 0;
}
.footer_dv p {
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  margin: 0 0 15px;
  text-align: justify;
}
