<section class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4  col-md-4 col-sm-4">
        <div class="footer_dv">
          <h4>About Us</h4>
          <ul>
       <a href="canon-printer-support.php">Infinity</a>
            <a href="hp-printer-support.php">is a software engineering entreprise</a><br>
            <a href="dell-printer-support.php">Well known in the wild world</a>
          </ul>
        </div>
      </div>
      <div class="col-lg-4  col-md-4 col-sm-4">
        <div class="footer_dv">
          <h4>Contact Us</h4>
          <ul>
            <a href="tosiba-printer-support.php">em_boounoua@esi.dz</a><br>
            <a href="panasonic-printer-support.php">ei_yahiaoui@esi.dz</a> <br>
           <a href="xerox-printer-support.php">ec_bouzerba@esi.dz</a><br>
            <a href="brother-printer-support.php">df_redaoui@esi.dz</a><br>
           <a href="zebra-printer-support.php">ea_setrrehman@esi.dz</a><br>
          <a href="lenovo-printer-support.php">ek_abdsamia@esi.dz</a>
          </ul>
        </div>
      </div>
      <div class="col-lg-4  col-md-4 col-sm-4">
        <div class="footer_dv">
          <h4>Social Media</h4>
          <p>Facebook</p>
          <p>Twitter<br>


          </p></div>
      </div>
    </div>
  </div>
</section>
