
<div class="card-container">
  <div class="card">
    <div class="front">

      <div class="myimage cover">
        <img src="blood.png"/>
      </div>

      <div class="content">
        <div class="main">
          <h2 class="name">{{pub.groupe}}</h2>
          <h3 class="text-center">{{pub.rh}}</h3>
        </div>
        <div class="footer">
          <br>
          <i class="fa fa-mail-forward"></i> {{pub.adress}}
        </div>
      </div>
    </div> <!-- end front panel -->

    <div class="back">
      <div class="header">
        <h5 class="motto">this was published {{pub.date}}</h5>
      </div>
      <div class="content">
        <div class="main">
          <p class="text-center"> Emergency : {{pub.emergency}} /4 </p>
        </div>
      </div>
      <div class="footer">

      </div>
    </div> <!-- end back panel -->
  </div> <!-- end card -->
</div> <!-- end card-container -->



