<nav class="navbar navbar-toggleable-md navbar-dark">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" href="#">
      <img id ="wakil"  src="logo.png" style="width: 65%; height: 65%;">
    </a>

    <div class="collapse navbar-collapse" id="navbarNav1">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link toggleButton" > <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item toggleButton">
          <a class="nav-link" > <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item toggleButton">
        </li>
      </ul>

      <li class="nav-item  btn-group">
         <a class="nav-link hv" routerLink="/home">Home</a>
         <a class="nav-link hv"  href="#services">Services</a>
         <a class="nav-link  hv" href="#about" >About</a>
         <a class="nav-link hv" href="#team">Team</a>
         <a class="nav-link hv" routerLink="/login-fort">Sign in</a>
         <a class="nav-link hv" routerLink="/register-fort">Sign up</a>
      </li>

    </div>

  </div>
</nav>
<script type="text/javascript">


</script>


