#hed1{
  background-color:#EF5350;
}
#hed2{
  background-color:#00ACC1;
}
#hed3{
   background-color: #00796B;
 }
.modal-title{
  color: white;
  font-style: oblique ;
}
#but1{
  background-color: #EF5350;
}
#but2{
  background-color: #00ACC1;
}
#but3{
  background-color: #00796B;
}
